a {
    text-decoration: none !important;
}
.text {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
}
#c10 hr {
        width: 90px;
}
.price {
    font-weight: bold;
    font-size: 23px;
}
.applink {
    color: white !important;
    font-family: "Open Sans";
}
h2, h1 {
    font-family: 'Ralewaybold';
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.01em;
    color: #697c93;
}
#logo {
    width: 200px;
}
p {
    color: #697c93;
    font-size: 16px;
    letter-spacing: 0.01em;
}
table {
    margin-right: 5px;
}
tr {
    height: 100px;
}
#nas {
    text-align: center;
    margin-top: 130px;
}
#nas img {
    horiz-align: center;
    width: 100%;
    max-width: 430px;
}
td {
    font-family: 'Open Sans';
    font-size: 22px;
    letter-spacing: 0.01em;
    padding-left: 5px;
    color: white !important;
}
.cover {
    margin-top: 160px;
}
.txt:hover {
    color: #f20444;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #067CFF !important;
}
hr {
    width: 155px;
    border-top: 5px solid;

    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left; /* для ie */
    margin: 0 auto 0 5px; /* для остальных браузеров */
}
.contact {
    top: 8%;
}
.section1 h2, .section5 h2, .section3 h2, .section7 h2, .section9 h2, .section10 h2{
    font-weight: bold;
    color: #ffffff;
}
.section1 p, .section3 p, .section5 p, .section7 p, .section9 p{
    color: #ffffff;
}
.butup {
    display: none;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 0px;
    left: 85%;
    float: right;
    z-index: 110;
}
.section1, .section3, .section5, .section7,  .section9 {
    overflow: hidden;
}
.parallax {
    overflow: hidden;
    margin-top: -160px;
}
/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayThin"; */
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraLight"; */
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayLight"; */
@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight/RalewayLight.eot");
    src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraBold"; */
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBlack"; */
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.butt {
    display: none;
}
.drop {
    display: none;
}
.dropbtn {
    background-color: #FFFFFF;
    color: #067CFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	height: 50px
}
.dropdown {
    position: relative;
/*    display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}
.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #F5FAFF}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
	color: #f20444;
}

.dropdown-content > a:hover {
    color: #f20444;
}

.active {
	border-bottom: 2px solid #f20444;
    padding-bottom: 22px  !important;
}
.section7 img, .section9 img {
    width: 100%;
}
@media screen and (max-width: 1355px) {
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10 {
        height: 600px !important;
    }
    .container {
        width: 970px;
    }
    .image-wrap {
        height: 650px !important;
    }
    .section2, .section8 {
        top: -385px !important;
    }
    .section4 {
        background-image: url("../pic/shin2.png") !important;
        background-position: right bottom !important;
        background-size: 376px auto !important;
    }
    .section5 {
        border-bottom: 15px solid #f40442 !important;
    }
    #cs7 {
        margin-top: -90px !important;
    }
    #c7 {
        margin-top: 0px !important;
    }
    .cs8 {
        margin-top: 550px;
    }
    #cs8 {
        margin-top: -90px !important;
    }
    .cs9 {
        margin-top: 185px !important;
    }
    .section9 {
        top: -380px !important;
        margin-bottom: -380px !important;
    }
    .section10 {
        border-bottom: 15px solid #f40442 !important;
        top: -155px !important;
        margin-bottom: -155px !important;
    }
    #c10 {
        margin: 25% 0px 0px 0px !important;
    }
    .parallax3 h2 {
        margin-top: 30px !important;
    }
    .wheel7 {
        top: 110px !important;
    }
}

@media screen and (max-width: 1170px) {
    .container {
        width: 750px;
    }
    .image-wrap {
        height: 600px !important;
    }
    #cs1 {
        top: -50px !important;
    }
    #cs2 {
        margin-top: -116px !important;
    }
    #cs3 {
        margin-top: 20px !important;
    }
    #cs4 {
        margin-top: 290px !important;
    }
    .s5 {
        margin: -5px 0px 0px -470px !important;
    }
    #cs5 {
        top: 155px;
    }
    #cs6 {
        margin-top: -65px !important;
    }
    #cs7 {
        margin-top: -25px !important;
        margin-right: -20px;
    }
    #cs8 {
        margin-top: -150px !important;
    }
    #cs9 {
        margin-top: -70px !important;
    }
    .cs9 {
        margin-top: 205px !important;
    }
    #c9 {
        margin: -90px 70px 0px -75px !important;
    }
        .wheel9 {
        top: -25px !important;
    }
    .wheel {
        display: none !important;
    }
    .ftright {
        margin: 0px 0px 30px 40px !important;
    }
}

@media screen and (max-width: 950px) {
    .parallax3 h2 {
    margin-top: 90px !important;
}
    hr {
        width: 110px;
        border-top: 3px solid;
    }
    td {
        font-size: 15px;
    }
    td > img {
        width: 30px;
    }
    .wheel1 {
        margin: 80px 0px 0px 50px !important;
    }
    .hdimage {
        max-width: 600px !important;
    }
    .parallax3 {
        margin-top: -95px;
    }
    #wrp {
        margin-top: -45px;
    }
    .parallax {
        margin-top: -340px;
    }
    .parallax2 {
        margin-top: -10px !important;
    }
    .container {
        width: 520px;
    }

    .image-wrap {
        height: 700px !important;
    }

    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10 {
        height: 500px !important;
    }
    .navbar-nav {
        display: none !important;
    }
    #butt { position: relative; float: right; }

    #butt { cursor: pointer; margin: 25px 0px 16px 0px; }
    #butt span, #butt span:before, #butt span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #067cff;
      position: absolute;
      display: block;
      content: '';
    }
    #butt span:before {
      top: -10px;
    }
    #butt span:after {
      bottom: -10px;
    }

    #butt span, #butt span:before, #butt span:after {
      transition: all 500ms ease-in-out;
    }
    #butt.acti span {
      background-color: transparent;
    }
    #butt.acti span:before, #butt.acti span:after {
      top: 0;
    }
    #butt.acti span:before {
      transform: rotate(45deg);
    }
    #butt.acti span:after {
      transform: rotate(-45deg);
    }

    #butt.acti ~ .drop {
        display: block;
        position: absolute;
        overflow: hidden;
        right: 15%;
        background-color: #FFFFFF;
        min-width: 135px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

    .drop li {
        position: relative;
        left: 10px;
        list-style-type: none;
        border-bottom: 0px;
    }

    .drop a.active {
        border-bottom: 0px;
    }

    .drop ul .serv {
        display: none;
        background-color: #FFFFFF;
        width: 300px;
    }
    #srv.act > .serv {
        display: block;
    }
    .drop li:hover {
        background-color: #F5FAFF;
    }
    .drop a:hover {
        text-decoration: none !important;
    }
    .drop a:focus {
        text-decoration: none !important;
    }
    #s1 {
        margin-top: -25px;
    }
    #c1 {
        margin-top: -30px !important;
    }
    #cs1 {
            top: -10px !important;
    }
    .section1 {
        margin-bottom: -115px !important;
    }
    .section2 {
        top: -190px !important;
        margin-bottom: -190px !important;
    }
    #s2 {
            margin-top: -10px !important;
    }
    #c2 {
        margin-top: 460px !important;
    }
    #cs2 {
        margin-top: -75px !important;
    }
    .section3 {
        top: -190px !important;
        margin-bottom: -190px !important;
    }
    #t3 {
        margin-top: -20px;
    }
    #c3 {
        margin-top: -40px !important;
    }
    #cs3 {
        margin-top: 15px !important;
    }
    .section4 {
        top: -140px !important;
        margin-bottom: -140px;
    }
    #cs4 {
        margin-top: 190px !important;
    }
    #cs5 {
        margin-top: -50px;
    }
    .section6 {
        top: -175px !important;
        margin-bottom: -175px;
    }
    .cs6 {
        margin-top: 400px !important;
    }
    #c6 {
        margin-top: -10px !important;
    }
    .section7 {
        top: -150px !important;
        margin-bottom: -150px !important;
    }
    .cs7 {
        top: 35px !important;
            }
    #cs7 {
        margin-left: -40px !important;
        margin-top: -5px !important;
    }
    .wheel7 {
        top: 100px !important;
    }
    .section8 {
        top: -305px !important;
        margin-bottom: -305px !important;
    }
    .cs8 {
        margin-top: 490px !important;
    }
    #c8 {
        margin-top: -85px !important;
    }
    .section9 {
        top: -255px !important;
        margin-bottom: -255px !important;
    }
    .cs9 {
        margin-top: 140px !important;
    }
    #c9 {
        margin: -10px 40px 0px -74px !important;
    }
    .wheel9 {
        top: -15px !important;
    }
    .section10 {
        top: -125px !important;
        margin-bottom: -125px !important;
    }
    .contact {
        top: 0% !important;
    }
    .s3 {
            margin: 90px 0px 0px 50px !important;
    }
    .ftcentre {
        margin: 0px 5px 30px 40px !important;
    }
}

@media screen and (max-width: 700px) {
    #butt.acti ~ .drop {
        right: 6px;
    }
    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10 {
        height: 370px !important;
    }
    .section1, .section3, .section7, .section9 {
        background-image: none !important;
        background-color: #1376FF !important;
        border-bottom: 10px solid #f40442 !important;
    }
    .wheel, .wheel1, .wheel7, .wheel9, .s3 {
        display: none;
    }
    #s1 {
        margin-top: -38px;
        margin-left: -14px;
    }
    .section2 {
        top: -20px !important;
        margin-bottom: -20px !important;
    }
    #c1 {
    margin-top: 90px !important;
    }
    #c2 {
        margin-top: 315px !important;
    }
    #c3 {
    margin-top: 70px !important;
    }
    .section3 {
        top: 0px !important;
        margin-bottom: 0px !important;
    }
    .s3 {
        margin: 70px 0px 0px 50px !important;
    }
    #cs3 {
            margin-top: 55px !important;
    }
    .section4 {
        top: -95px !important;
        margin-bottom: -95px !important;
        background-size: 235px auto !important;
    }
    #cs4 {
        margin-top: 150px !important;
    }
    .section5 {
        top: 0px !important;
        margin-bottom: 0px !important;
        border-bottom: 10px solid #f40442 !important;
    }
    .s5 {
        margin: -110px 0px 0px -470px !important;
    }
    #cs5 {
        margin-top: -120px !important;
    }
    .section6 {
        top: -140px !important;
        margin-bottom: -140px !important;
    }
    .section8 {
        top: -95px !important;
        margin-bottom: -95px !important;
    }
    .section7 {
        top: -75px !important;
        margin-bottom: -75px !important;
    }
    .cs6 {
        margin-top: 270px !important;
    }
    .cs7 {
        top: 75px !important;
        margin-left: -5px !important;
    }
    #cs7 {
        margin-top: 25px !important;
    }
    #c7 {
            margin-left: 40px;
    }
    .section8 {
        top: -140px !important;
        margin-bottom: -140px !important;
    }
    .cs8 {
        margin-top: 380px !important;
    }
    .section9 {
        top: -85px !important;
        margin-bottom: -85px !important;
    }
    .cs9 {
        margin-top: 140px !important;
    }
    .section10 {
        border-bottom: 10px solid #f40442 !important;
        top: 0px !important;
        margin-bottom: 0px !important;
    }

    #c9 {
        margin: -50px 47px 15px -48px !important;
    }
    #c10 {
        margin: 5% 0px 0px 0px !important;
    }
    #cs10 {
        top: 436px !important;
        margin-bottom: 105px !important;
        height: 288px !important;
    }
    iframe {
        height: 370px !important;
    }
    .contact {
        top: 0% !important;
        margin-left: 8% !important;
    }
    .logobl {
            margin: 7px 0px 5px 35px !important;
    }
    .ftleft {
        display: none;
    }
    .ftcentre {
            margin: 0px 40px -8px 40px !important;
    }
    .ftright {
        margin: 0px 0px -2px 40px !important;
    }
    #ft {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 625px) {
    .container {
        width: 466px;
    }
    .cs7 {
        top: 35px !important;
    }
    .cs9 {
        margin-top: 95px !important;
    }
}

@media screen and (max-width: 500px) {
    .butup {
        left: 82%;
    }

    .container {
        width: 250px;
    }

    #iw {
        height: 45px !important;
    }

    #car {
        float: none !important;
        width: 100% !important;
        margin-top: -370px;
    }

    .parallax3 {
        float: none !important;
        margin-top: 0px;
        margin-left: -14px;
        width: 100% !important;
    }

    .parallax2 {
        margin-top: -10px !important;
    }

    h2 {
        text-align: center;
    }

    #logo {
        width: 170px;
    }

    p {
        text-align: center;
        font-size: 15px;
    }

    hr {
        margin-left: auto;
        margin-right: auto;
    }

    td {
        font-size: 12px;
    }

    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10 {
        height: 500px !important;
    }

    .section1 {
        top: 60px !important;
        margin-bottom: 60px !important;
    }

    #c1 {
        margin-top: 50px !important;
    }

    #cs1 {
        margin-left: 15px;
        float: none !important;
        width: 80% !important;
        top: -30px !important;
    }

    #s1 {
        float: none !important;
        width: 100% !important;
        margin-left: 0px;
    }

    .section2 {
        top: -156px !important;
        margin-bottom: -156px !important;
    }

    .section3 {
        top: 0px !important;
        margin-bottom: 0px !important;
    }

    #cs2 {
        width: 100% !important;
        float: none !important;
    }

    #s2 {
        float: none !important;
        width: 100% !important;
        margin-top: 75px !important;
    }

    #c3 {
        margin-top: 75px !important;
    }

    #cs3 {
        float: none !important;
        width: 90% !important;
        margin-left: 30px;
    }

    #t3 {
        float: none !important;
        width: 100% !important;
        margin-top: 10px;
    }

    .section4 {
        top: -30px !important;
        margin-bottom: -30px !important;
        background-position: bottom !important;
        background-size: 150px auto !important;
    }

    #cs4 {
        float: none !important;
        width: 100% !important;
        margin-top: 100px !important;
    }

    .section5 {
        top: 30px !important;
        margin-bottom: 30px !important;
    }

    #cs5 {
        float: none !important;
        width: 100% !important;
        text-align: center !important;
        margin-top: -50px !important;
    }

    .s5 {
        margin: -70px 0px 0px -470px !important;
    }

    #cs6 {
        float: none !important;
        width: 100% !important;
    }

    #c6 {
        float: none !important;
        width: 100% !important;
        margin-top: 0px !important;
    }

    .section7 {
        top: 200px !important;
        margin-bottom: 200px !important;
    }

    .cs7 {
        top: 5px !important;
    }

    #cs7 {
        float: none !important;
        width: 100% !important;
        margin-left: 0px !important;
    }

    #c7 {
        float: none !important;
        width: 100% !important;
        margin-left: 0px;
    }

    .section8 {
        top: -140px !important;
        margin-bottom: -140px !important;
    }

    .cs8 {
        margin-top: 345px !important;
    }

    #cs8 {
        float: none !important;
        width: 100% !important;
    }

    #c8 {
        float: none !important;
        width: 100% !important;
    }

    .section9 {
        top: 140px !important;
        margin-bottom: 140px !important;
    }

    #c8 {
        margin-top: 0px !important;
    }

    .cs9 {
        margin-top: 135px !important;
    }

    #c9 {
        float: none !important;
        width: 100% !important;
        margin: -100px 0px 15px 4px !important;
    }

    #cs9 {
        float: none !important;
        width: 100% !important;
        margin-top: 0px !important;
    }

    .section10 {
        top: 0px !important;
        margin-bottom: 0px !important;
    }

    #c10 {
        float: none !important;
        width: 100% !important;
        margin: 100px 0px 0px 0px !important;
    }

    .section11 {
        top: -393px !important;
        margin-bottom: -393px !important;
    }

    .contact {
        top: 0% !important;
        margin-left: 2% !important;
    }

    .logobl {
        margin: 7px 0px 5px 35px !important;
    }

    .ftdown {
        text-align: center;
    }

    .ftright {
        margin: 0px 0px -2px 6px !important;
    }

    #ftr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #wrp {
        margin-top: 0px;
    }

    .parallax {
        margin-top: -250px;
    }

    .revealator-slideright, .revealator-slideleft {
        transform: translate(0, 0) !important;
        opacity: 1 !important;

    }
}

footer {
  position: relative;
  top: -5px;
  border-top: 1px solid #067CFF;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ftright {
    float: left;
    margin: 0px 0px 30px 0px;
    text-align: left;
}

.ftcentre {
    float: left;
    margin: 0px 40px 30px 40px;
    text-align: left;
}

.ftleft {
    margin: 0px 15px 0px 0px;
    float:left;
    width: 35%;
}

.ftdown {
    border-top: 1px solid #067CFF;
}

.image-wrap {
  width: 100%;
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.image-wrap img {
  width: 100%;
  animation: move 400s ease;
  /* Add infinite to loop. */

  -ms-animation: move 400s ease;
  -webkit-animation: move 400s ease;
  -0-animation: move 400s ease;
  -moz-animation: move 400s ease;
  position: absolute;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */

    -webkit-transform: scale(1.0);
    /* Safari and Chrome */

    -o-transform: scale(1.0);
    /* Opera */

    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    /* IE 9 */

    -webkit-transform: scale(2.2);
    /* Safari and Chrome */

    -o-transform: scale(2.2);
    /* Opera */

    -moz-transform: scale(2.2);
    /* Firefox */
  }
}

.parallax {
    position: relative;
    z-index: 100;
}

.section1 {
    background-image: url('../pic/frame.png');
    width: 100%;
    height: 824px;
    position:relative;

    background-size: 100% 100%;
    z-index: 90;

}

.section2 {
    position: relative;
    background-image: url('../pic/delta.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    top: -440px;
    height: 824px;
    background-size: contain;
    z-index: 80;
    margin-bottom: -440px;
}

.section3 {
    background-image: url('../pic/frame2.png');
    background-color: white;
    width: 100%;
    height: 824px;
    position:relative;
    top: -270px;
    margin-bottom: -270px;
    background-size: 100% 100%;
    z-index: 90;
}

.section4 {
    position:relative;
    height: 824px;
    width: 100%;
    top: -195px;
    margin-bottom: -195px;
    background-image: url('../pic/shin.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: right;
    background-size: 824px auto;
}

.hdimage {
    position: absolute;
    top: 160px;
    max-width: 1250px;
}

.parallax2 {
    position: relative;
    z-index: 2;
}

.parallax3 {
    position: relative;
    z-index: 10;
}

.parallax4 {
    position: relative;
    z-index: 9;
}

.section5 {
    position: relative;
    top: -55px;
    margin-bottom: -55px;
    background-image: url("../pic/washb.png");
    height: 600px;
    background-size: cover;
}

.section6 {
    position: relative;
    background-image: url('../pic/delta.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    top: -350px;
    margin-bottom: -350px;
    height: 824px;
    background-size: contain;
    z-index: -1;
}

.section7 {
    background-image: url('../pic/frame.png');
    width: 100%;
    height: 824px;
    position:relative;
    top: -389px;
    margin-bottom: -389px;
    background-size: 100% 100%;
    z-index: 90;
}

.section8 {
    position: relative;
    background-image: url('../pic/delta.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    top: -440px;
    margin-bottom: -440px;
    height: 824px;
    background-size: contain;
    z-index: -1;
}

.section9 {
    background-image: url('../pic/frame2.png');
    width: 100%;
    height: 824px;
    position:relative;
    top: -300px;
    margin-bottom: -300px;
    background-size: 100% 100%;
    z-index: 90;
}

.section10 {
    background-image: url('../pic/kafe.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 824px;
    position:relative;
    top:-270px;
    margin-bottom: -270px;
    background-size: cover;
    border-bottom: 26px solid #f40442;
    z-index: 80;
}

.section11 {
    position: relative;
    top: -400px;
    margin-bottom: -400px;
}

.nojs{
    display: none !important;
}
.no-js {
    transform: translate(0, 0) !important;
    opacity: 1 !important;

}
